/* main */
.main__title {
    margin: 20px 0;
}
    
.main__btn_tab {
    border: none;
    background-color: transparent;
    padding: 10px 10px 8px 10px;
    width: 100%;
    text-align: left;
    color: #d7cfcf;
    font-weight: bold;
    /*@media (max-width: $mob) {
        border-right: 1px solid #EEEEEE;
    }*/
}

.main li:last-child &__btn_tab {
    /*@media (max-width: $mob) {
        border-right: none;
    }*/
}

.main__nav_hr {
    border: none;
    height: 1px;
    background: #EEEEEE;
    margin: 0;
}

.main__question_title {
    font-size: 20px;
}

.main__questions {
    display: flex;
    flex-direction: column;
    padding: 13px 22.5px;
    /*box-shadow: 0px 1px 3px 0px #00000033;
    width: 100%;*/
    /*@media (max-width: $mob) {
        width: 90%;
    }*/
}

.main__btn_continue {
    display: block;
    /*position: absolute;*/
    padding: 14px 45px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 90px;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #00000020;
    font-size: 16px;
}
    
.main__btn_continue:disabled {
    background-color: #1C1A1A15;
}
    
.main__btn_continue:enabled {
    background-color: #ffffff;
    cursor: pointer;
}

/*.box {
    display: flex;
    gap: 10px;
    margin-bottom: 56px;
    @media (max-width: $mob) {
        flex-direction: column;
    }
}*/

.tab {
    display: none;
    flex: 80%;
}

.alphabet {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0 0;
    box-shadow: 0px 1px 3px 0px #00000033;
    background-color: #3d7ceb;
    /*@media (max-width: $mob) {
        display: flex;
    }*/
}

section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.number {
    color: #E9262D;
    margin-right: 13px;
}

.points {
    color: #73BE43;
    margin-right: 13px;
}

li:last-child p {
    margin-bottom: 10px;
}

button.is-active {
    /*color: #ffffff;*/
    cursor: pointer;
}

section.is-active {
    display: block;
}

.asim_ciphers_img, .sim_ciphers_img {
    width: 600px;
    height: 315px;
    background-size: cover;
}
.asim_ciphers_img {
    background-image: url(../img/theory/asimm_ciphers.png);
}
.sim_ciphers_img {
    background-image: url(../img/theory/sim_ciphers.png);
}

.main__btn_tab_word {
    border: none;
    background-color: transparent;
    padding: 10px 10px 8px 10px;
    cursor: pointer;
    text-align: left;
    flex: 20%;
}

.flex_words {
    display: flex;
}
.main__btn_tab_word.is-active {
    background-color: #e9e9e9;
}
.main__btn_tab_exist {
    color: #ffffff;
}
.pages {
    display: none;
}
.pages.is-active {
    display: block;
}


/* cards*/
.cards-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 265px;
    border: 1px solid #0070c0;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.card__title {
    font-size: 26px;
    margin: 2px 0 0;
    color: #ffffff;
    padding-top: 87px;
    text-align: center;
}

.card__back_description {
    transform: rotateY(180deg);
    line-height: 24px;
}

.hidden {
    display: none;
}

.color_blue {
    background-color: #0070c0;
}

.flipped {
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
    transform: rotateY(180deg);
}

/*3*/
.cipher_flex {
    display: flex;
    gap: 40px;
}
.atbash_img {
    max-width: 100%;
}
.watch_example {
    color: #ffffff;
    background-color: #fbc236;
    padding: 15px 30px;
    border-radius: 8px;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
}
.cipher_desc {
    margin: 20px 0;
}
.cipher_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.modal_close {
    background-image: url(../img/theory/close.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;    
    cursor: pointer;
}
.modal_cipher {
    background-color: #fff2cc;
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;
    border-radius: 20px;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
}
.atbash_img, .modal_atbash_img {
    width: 100%;
}
.modal_text {
    width: 90%;
}
.polibium_img {
    width: 40%;
}
.flex_polibium, .flex_bacon {
    display: flex;
    justify-content: space-between;
}
.bacon_img {
    width: 24%;
}
.bacon_modal {
    width: 40%;
}
.flex_bacon {
    align-items: center;
}
.modal_music_img {
    display: block;
    width: 55%;
    margin: 0 auto;
}
.wingdings_img {
    width: 100%;
}