.cipher_flex {
    display: flex;
    gap: 40px;
}
.main__btn_continue {
    display: block;
    /*position: absolute;*/
    padding: 14px 45px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 90px;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #00000020;
    font-size: 16px;
}
.atbash_img {
    max-width: 100%;
}
.watch_example {
    color: #ffffff;
    background-color: #fbc236;
    padding: 15px 30px;
    border-radius: 8px;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
}
.cipher_desc {
    margin: 20px 0;
}
.cipher_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal_close {
    background-image: url(../img/theory/close.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;    
    cursor: pointer;
}
.modal_cipher {
    background-color: #fff2cc;
    max-width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;
    border-radius: 20px;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
}

.modal_img {
    width: 80%;
}
.pages {
    display: none;
}
.pages.is-active {
    display: block;
}
.techn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 37px;
}
.techn_desc {
    margin-top: 20px;
    width: 50%;
}
div ul {
    margin-top: 15px;
    margin-left: 50px;
}